In [2]:
from  tkinter import *
from tkinter import ttk
import pandas as pd
from tkinter import filedialog
from tkinter.filedialog import askopenfilename
from tkinter import Canvas
root = Tk()
root.title('Routing Forecasting')
width = root.winfo_screenwidth()
height = root.winfo_screenheight()
root.geometry("%dx%d" % (width, height))
root.resizable(100,100)
print(height)
listbox1=Listbox(root,width=50,height=10)
listbox2=Listbox(root,width=30,height=10)
b=""
c=""
def loading():
    csv_file_path = askopenfilename()
    print(csv_file_path)
    global df,columns,types
    df=pd.read_csv(csv_file_path)
def view():
    print(df.columns)
    v=dict()
    columns=df.columns
    s=list(columns)
    j=0
    for i in s:
        v[i]=j
        j+=1
        b=str(i)
        listbox1.insert(END,b)
def viewnew():
    types=df.dtypes
    d=list(types)
    z=dict()
    n=0
    for typ in d:
        z[typ]=n
        n+=1
        c=str(typ)
        listbox2.insert(END,c)
Label(root,text="Variables:",width=10).grid(row=6,column=0)
Label(root,text="Datatypes:",width=10).grid(row=7,column=0)
listbox1.place(x=100,y=100)
listbox2.place(x=250,y=100)
T=Text(root,height=1,width=30)
T.grid(row=1,column=1)
T.insert(END, "Please give the dataset")
Button(root,text='Open File', command=loading).grid(row=2, column=1, pady=1)   
Button(root,text='View variables',command=view).grid(row=4,column=1,pady=1)
Button(root,text='View Datatypes',command=viewnew).grid(row=6,column=1,pady=1)
Button(root,text='Train the Dataset').place(x=150,y=350)
Button(root,text='Close',command=root.destroy).place(x=180,y=600)
root.mainloop()

768
C:/Users/user/bbb.csv
Index(['firstname', 'lastname', 'address'], dtype='object')

In [1]:
import pandas as pd
cv=pd.read_csv('bbb.csv')

In [2]:
cv

  firstname lastname address
0       aaa      sss    jkkk
1        bb      sss     kjg
2        cc      sss     ggf
3        dd       dd       f
4        ee       dd    fddd
5        ff      rty       s
6        gg      wee    ssaa
7        hh       kl     aaa
8        ii      lll   hhhff

In [6]:
ss=cv.dtypes
ss=list(ss)
ss

[dtype('O'), dtype('O'), dtype('O')]

In [15]:
list(ss)
ss

firstname    object
lastname     object
address      object
dtype: object